<div class="container">
  <h1>Campus Events</h1>
  <hr>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= event.title %></h3>
            <%= simple_format event.description %>
            <p><%= event.occur_at %></p>
            <a href="#" class="btn btn-primary">More info</a>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
  <hr>
  <footer>
    <%= link_to 'Committee Sign In', new_committee_session_path %>
  </footer>
</div>
